.buttonFilled {
  background: linear-gradient(180deg, #5fb7fb 0%, #1d51b0 100%);
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-family: "Russo One";
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
}

.buttonFilled1 {
  background: linear-gradient(180deg, #5fb7fb 0%, #1d51b0 100%);
  color: white;
  text-align: center;
  padding: 8px 24px;
  font-family: "Russo One";
  font-size: 8px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
}

.buttonOutline {
  background: linear-gradient(45deg, #fff 0%, #1d51b0 100%);
  color: #fff;
  font-family: "Russo One";
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 2px 2px;
  margin: 0;
}

.buttonOutline > button {
  width: 100%;
  height: 100%;
  background: #010d2d;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Russo One";
  padding: 8px 13px;
  margin: 0;
}

.buttonOutline1 {
  color: #fff;
  font-family: "Russo One";
  cursor: pointer;
  margin: 0;
}

.buttonOutline1 > button {
  width: 100px;
  background: #010d2d;
  color: #fff;
  font-family: "Russo One";
  font-size: 8px;
  padding: 6px 12px;
  margin: 0;
  border-radius: 0;
  border-image: url(../../assets/gradient-border.png);
  border-image-slice: 2;
  border-width: 2px;
}

@media (min-width: 768px) {
  .buttonFilled {
    padding: 10px 30px;
  }

  .buttonOutline > button {
    padding: 10px 30px;
  }
}
