.phaseStyle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  padding: 3px;
  background-color: #808797;
  border-radius: 10px;
  width: 65px;
  height: 65px;
}

.phaseStyleActive{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  padding: 4px;
  background: linear-gradient(90deg, #5FB7FB 0%, #1d51b0 100%);
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.phaseStyle > p, 
.phaseStyleActive > p{
  color: white;
  font-size: 8px;
  margin: 0;
}
.phaseStyle > h3, 
.phaseStyleActive > h3{
  color: white;
  font-size: 10px;
  margin: 0;
  font-family: "Russo One"
}

@media (min-width: 768px){
  .phaseStyle{
    width: 100px;
    height: 100px;
    padding: 6px;
  }
  
  .phaseStyleActive{
    width: 120px;
    height: 120px;
    padding: 8px;
  }

  .phaseStyle > h3, 
  .phaseStyleActive > h3{
    font-size: 14px;
  }

  .phaseStyle > p, 
  .phaseStyleActive > p{
    font-size: 12px;
  }
  .matarValue{
    font-size: 10px;
  }
}